<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="#springUrl('/resources/css/main.css')">
  <link rel="stylesheet" type="text/css" href="#springUrl('/resources/css/bootstrap.min.css')">
  <link rel="stylesheet" type="text/css" href="#springUrl('/resources/css/bootstrap-theme.min.css')">
	 <script type="text/javascript" src="#springUrl('/resources/vendor/js/prototype-1.7.3.js')"></script>
	<script type="text/javascript" src="#springUrl('/resources/js/bootstrap.min.js')"></script>
  <title>$!page_title</title>
</head>
<body>
  <div class="container">

  <br />
		<div class="panel panel-success">
			<div class="panel-heading panel-success">Spring MVC Velocity Weblogic</div>
			<div class="panel-body">
  <h2 class="text-danger" >Welcome !!!! </h2> <br/>
  $screen_content
  </div>
			<div class="panel-footer">
				<h4 class="text-danger text-center">iQmsoft Inc.</h4>
			</div>
		</div>
</div>
</body>
</html>